---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Djaygo">
  <h1>Welcome to Djaygo</h1>
  <p>This is my personal website.</p>
  <p><a href="/posts">View all posts</a></p>
</Layout>
